body
{
    background-color: whitesmoke;
}
.name
{
    padding-left: 3cm;
    padding-top: 2cm;
}
p
{
    font-size: 20px;
    padding-left: 3cm;
    margin-top: 3cm;
}
.skills
{
    padding-left: 3cm;
    margin-top: 3cm;
    font-size: 20px;
}
.area
{
    padding-left: 3cm;
    margin-top: 3cm;
    font-size: 20px;
    float: right;
    margin-top: -3.8cm;
    margin-right: 5cm;
}
img
{
    height: 3cm;
    width: 3cm;
    float: right;
    margin-top: -3cm;
    margin-right: 2cm;
}